html{scroll-behavior:smooth}

.App {
  /* text-align: center; */
  /* background-color: royalblue; */
  
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  /* Font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif; */
  /* Font-family: Consolas, monaco, monospace; */
  /* Font-family: Helvetica Neue, Helvetica, Arial, sans-serif; */
  font-family: "Rubik", sans-serif;
  overflow-y: scroll;
}

.fade-top{
  z-index: 2;
  /* mask-image:linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 1)); */
  background-image: linear-gradient(rgba(2, 22, 60, 0.75), rgba(0, 0, 0, 0));
  position:fixed;
  height: 10vh;
  width:100vw;
  left:0;
  top:0;
  bottom:0;
  right:0;
}

.fade-bot{
  z-index: 2;
  /* mask-image:linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 1)); */
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 8, 25, 0.75));
  position:fixed;
  height: 10vh;
  width:100vw;
  left:0;
  top:90vh;
  bottom:0;
  right:0;
}

.bio {
  font-weight: 700;
  font-size: 3vw;
}

h3 {
  font-weight: 200;
  font-size: 2vw
}

a {
  font-weight: 200;
  font-size: 1.5vw
}

body {
  background-size: 400% 400%;
  background-image: radial-gradient(
  #02163c, 
  #04183d, 
  #03173b,
  #02102a,
  #01081d,
  #010513
  );
  
  background-repeat: repeat;
  background-attachment: fixed;
  background-blend-mode: difference;
  animation: background-movement infinite 40s linear 1s;
}

a {
  display: block;
  color: rgb(225, 243, 255);
}

.rounded {
  border-radius: 10px;
}

/* #3A7CA5,
  #576490,
  #7796CB,
  #A3BCF9,
  #D1D2F9,
  #C9CAD9); */

.AppHeader {
  position: fixed;
  top:0;
  left:0;
  z-index: 3;
  /* background-color: rgb(223, 242, 255); */
  text-decoration: none;
}

.appHeader {
  /* background-color: royalblue; */
  width: 20vw;
  height: 9vw;
  font-size: 1.75vw;
  text-align: left;
  margin: 0 0 0 2.5vw;
  padding: 0 0 0 1vw;
  border-radius: 1vw;
  text-decoration:none;
  color: rgb(217, 227, 246);
  display: block;
  /* text-align: center; */

  background: transparent;
  transition: .3s ease-out;
}

.appHeader:hover {
  background-color: rgba(32, 59, 95, 0.5);
  /* box-shadow: inset 25vw 0 0 0 #293449; */
  color: rgb(215, 215, 215);
  /* background: linear-gradient(to left, transparent, #555) right; */
  /* transform: translateX(-10px); */
}

.Sean {
  margin-bottom:2px;
  margin-left: 0.75vw;
  text-decoration: none;
}

.Titles {
  margin-top:2px;
  margin-left: 0.2vw;
  font-weight: 300;
  padding-left: 1vw;
  padding-right: 2vw;
  text-decoration: none;
  text-align: left;
}


nav {
  text-align: left;
  padding: 0 2vw;
  /* width: 20%; */
  height: 60vh;
  overflow:hidden;
  float: left;
  /* background-color: aquamarine; */
}

nav .container ul {
  list-style-type: none;
}

nav .container ul li.active {
  background-color: #2e5c9a;
  border-radius:30px;
  transition: 0.3s;
}

nav .container ul li.active a {
  color: rgb(237, 248, 255);
  
}

li a {
  display: block;
  color: rgb(182, 190, 205);
  font-weight: 600;
  font-size: 2vw;
  height:4vh;
  padding: 1.5vh 2vw 2vh;
  text-decoration: none;
  /* transition: transform 250ms; */
  background: transparent;
  transition: .3s ease-out;
  /* animation: text-color-shimmer infinite 40s linear 1s; */
}

li a:hover {
  /* background-color: #555; */
  /* font-weight: 750; */
  box-shadow: inset 20vw 0 0 0 rgba(32, 59, 95, 0.5);
  color: rgb(221, 228, 235);
  border-radius:30px;
  /* background: linear-gradient(to left, transparent, #555) right; */
  /* transform: translateX(-10px); */
}

.appContent {
  width: 60vw;
  float: right;
  overflow-x: visible;
  overflow-y: auto;
  /* background-color: rgb(0, 145, 255); */
  padding-right: 10vw;
  color: rgb(204, 218, 244);
  font-size: x-large;
  font-weight: 1000;
}

.homeDiv {
  text-align: left;
  /* background-color: blue; */
  padding: 15vh 12vw 70vh;
  font-size: 5em;
}

.bioDiv {
  padding: 15vh 0 65vh;
}

.researchDiv {
  padding: 10vh 0 360vh;
}

.projectDiv {
  padding: 10vh 0 280vh;
}

.research {
  font-weight: 500;
}

.resumeDiv {
  padding: 10vh 0 150vh;
}

.resumePDF {
  width:60vw;
  height:75vw;
}

.contactDiv {
  padding: 10vh 0 30vh;
  /* opacity: 0.5; */
  /* background-image: linear-gradient(rgba(2, 22, 60, 0.75), rgba(0, 0, 0, 0)); */
}

.contactHead {
  text-align:center;
}

.contactMe {
  font-weight:400;
  text-align:center;
}

div.gallery {
  width: 17vw;
  height: 42vw;
  padding: 1vh 1vw;
  margin-top: 0.5vw;
  margin-right: 0.5vw;
  transition: .3s linear;
  text-align: left;
  border-radius: 10px;
  float: left;
  /* display: inline-block; */
}

div.gallery:hover {
  /* box-shadow: inset 25vw 0 0 0 #293449; */
  background-color:#213a658c;
}

div.gallery img {
  transition: .3s linear;
  border-radius: 10px;
  width:100%;
  object-fit: cover;
  overflow: hidden;
}

div.gallery:hover img {
  filter: brightness(80%);
}

div.list {
  width: 100%;
  height: 28vh;
  padding: 1vh 1vw;
  margin-top: 0.5vw;
  margin-right: 0.5vw;
  transition: .3s linear;
  text-align: left;
  border-radius: 10px;
  float: left;
  /* display: inline-block; */
}

div.list:hover {
  /* box-shadow: inset 25vw 0 0 0 #293449; */
  background-color:#213a658c;
}

div.list span img {
  transition: .3s linear;
  width: 100%;
  /* height: 100%; */
  border-radius: 10px;
}

div.list:hover img {
  filter: brightness(80%);
}

.projectImg {
  height: 26vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
  width: 40%;
  overflow:hidden;
  text-align:center;
  border-radius: 10px;
  display:inline;
  float:left;
}

projectImg:hover {
  filter: brightness(80%);
}

.img-crop {
  height: 12vw;
  width: auto;
  overflow:hidden;
  text-align:center;
  border-radius: 10px;
  display:inline;
  float:left;
}

.listDesc {
  width: 55%;
  display:inline;
  float:left;
  margin-left:1.5vw;
  padding-right:1vw;
}

h3.descTitle {
  text-align: left;
  color: rgb(208, 222, 235);
  font-weight: 700;
  margin:1vh 0 0 0;
  padding-top: 1vh 0 0 0;
}

.desc {
  margin:1vh 0 1vh 0;
  font-size: 1vw;
  text-align: justify;
}

.tag {
  border-radius: 5px;
  border: 1px rgb(228, 225, 166) solid;
  text-align: center;
  padding: 3px 5px;
  display: inline-block;
  margin-left: 8px;
  font-size:0.75vw;
  width: auto;
  font-weight: 400;
  background-color: rgb(198, 174, 39);
  color: rgb(255, 255, 255);
  position: static;
}

a:link { 
  text-decoration: none; 
} 
a:visited { 
  text-decoration: none; 
} 
a:hover { 
  text-decoration: none; 
} 
a:active { 
  text-decoration: none; 
}

.fade-in {
  animation-duration: 2s;
  animation-delay: 0s;
  animation-name: elem-fade-in;
}

.hidden {
  opacity: 0%;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-name: elem-fade-out;
}

@keyframes elem-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes elem-fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes background-movement {
  0% {
    background-position: 0vw 0vh;
  }
  25% {
    background-position: 0vw -300vh;
  }
  50% {
    background-position: -300vw -300vh;
  }
  75% {
    background-position: -300vw 0vh;
  }
  100% {
    background-position: 0vw 0vh;
  }
}

@keyframes text-color-shimmer {
  0% {
    color: rgb(130, 130, 130);
  }
  12% {
    color: rgb(200, 200, 200);
  }
  25% {
    color: rgb(130, 130, 130);
  }
  37% {
    color: rgb(200, 200, 200);
  }
  50% {
    color: rgb(200, 200, 200);
  }
  62% {
    color: rgb(200, 200, 200);
  }
  75% {
    color: rgb(200, 200, 200);
  }
  87% {
    color: rgb(200, 200, 200);
  }
  100% {
    color: rgb(130, 130, 130);
  }

}


/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
